.lvl1 {
	@include other(0.23vmax, #0d6efd, rgb(255, 240, 0));
}

.grid-container {
	margin: 2vmax;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1vw;
	max-height: 50vh;
	overflow-y: scroll;
}
.grid-container div {
	font-size: 2vw;
	aspect-ratio: 1 / 1;

	img {
		height: auto;
		width: 10vw;
		align-self: center;
		&:hover {
			cursor: pointer;
		}
	}
}
