.pokemon-section {
	width: 50vw;

	#goo-loader {
		padding-top: 15%;
		box-sizing: border-box;
	}
}

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: flex;
	justify-content: flex-start;
	margin-left: 2vw;
}

#search-input {
	background-color: #f1f1f1;
	width: 80%;
	border: 1px solid black;
	padding: 5px;
	font-size: 2.5vmax;
	height: 6vh;
	box-sizing: border-box;
}

#search-button {
	background-color: DodgerBlue;
	box-sizing: border-box;
	border: 1px solid black;
	color: #fff;
	cursor: pointer;
	height: 6vh;
}

.big-artwork {
	width: auto;
	height: 20vh;
	margin-bottom: 1.5vw;
}

.pokemon-data-except-big-artwork {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: whitesmoke;
	text-shadow: 1px 1px 0px #000, 1px 1px 0px rgba(0, 0, 0, 0.2);

	img {
		margin-top: 0.5vmax;
		width: 17vw;
		height: auto;
	}
}

.pokemon-data-div {
	font-size: 2vmax;
	text-align: left;
}

.btn {
	padding: 0 0.2vw;
	margin: 0 0.3vw;
	font-size: 2vmax;
	text-shadow: none;
}

.main-header {
	color: rgb(255, 225, 0);
	text-shadow: 2px 2px 0px #0400fd, 2px 2px 0px rgba(250, 233, 3, 0.2);
}

@media only screen and (max-width: 600px) {
	.big-artwork {
		height: 20vw;
		margin-top: 2vh;
	}
}
