.grid-container {
	margin: 0 1vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1vw;
	max-height: 50vh;
	overflow-y: scroll;
}
.grid-container div {
	background-color: grey;
	font-size: 2vw;
	aspect-ratio: 1 / 1;
}
