@import "suggestions";
@import "PokemonsOfTypeGrid";
@import "PokemonSection";
@import "CollectionSection";

.App {
	text-align: center;
	box-sizing: border-box;
}

.pokemon-and-collection {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

body {
	font: 16px Arial;
}
